node_modules

npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

package-lock.json
yarn.lock
pnpm-lock.yamls

dist
build

.DS_Store
Thumbs.db

.git
.gitignore

.dockerignore
Dockerfile

.vscode
.idea
*.swp

.env
.env.*
